@mixin sr-only() {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

@mixin focus-button() {
    transition: all .2s ease-in-out;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        background: transparent;
        color: MediumSpringGreen;
        z-index: 1;
    }
}

@mixin focus-input() {
    transition: all .2s ease-in-out;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        border-color: MediumSpringGreen;
        z-index: 1;
    }
}

@mixin focus-reset() {
    &:hover,
    &:focus,
    &:active {
        outline: none;
    }
}

@mixin rtl($property, $ltrValue, $rtlValue) {
    html:not([dir=rtl]) & {
        #{$property}: $ltrValue;
    }

    html[dir=rtl] & {
        #{$property}: $rtlValue;
    }
}

@mixin inset-inline-start($value) {
    html:not([dir=rtl]) & {
        left: $value;
    }

    html[dir=rtl] & {
        right: $value;
    }
}

@mixin inset-inline-end($value) {
    html:not([dir=rtl]) & {
        right: $value;
    }

    html[dir=rtl] & {
        left: $value;
    }
}