.page-enter-active,
.page-leave-active {
  transition: all 0.1s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.page-enter-from {
  transform: translateX(-16px);
}

.page-leave-to {
  transform: translateX(16px);
}

.menu-enter-active,
.menu-leave-active {
  transition: all 0.2s ease-in-out;
}

.menu-enter-from,
.menu-leave-to {
  opacity: 0;
}

.menu-enter-from {
  transform: translateY(-20px);
}

.menu-leave-to {
  transform: translateY(20px);
}
