<script>
    import { mapGetters } from 'vuex'
    import Task from '@/components/Task.vue'

    export default {
        components: {
            Task
        },
        computed: {
            ...mapGetters([
                'currentTask',
                'todoList'
            ]),
            getCurrentTask() {
                const taskId = parseInt(this.$route.params.id)
                return this.currentTask(taskId)
            }
        }
    }
</script>

<template>
    <div class="taskpage">
        <Task :currentTask="this.getCurrentTask" />
    </div>
</template>

<style lang="scss">
    @import '@/assets/style/mixins.scss';

    .taskpage {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
</style>
