<script>
    import { mapGetters } from 'vuex'
    import Task from '@/components/Task.vue'

    export default {
        components: {
            Task
        },
        computed: {
            ...mapGetters([
                'todoList'
            ])
        }
    }
</script>

<template>
    <div class="todolist">
        <ul class="todolist__list">
            <li class="todolist__list__item" v-for="task in todoList" ref="task.id" :key="task.id" :class="{completed: task.completed}">
                <Task :currentTask="task" />
            </li>
        </ul>
    </div>
</template>

<style lang="scss">
    @import '@/assets/style/mixins.scss';

    .todolist {
        &__list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            padding: 0;

            &__item {
                display: inline-flex;
                transition: all .2s ease-in-out;

                &.completed {
                    text-decoration: line-through;
                    order: 1;
                    opacity: .6;
                }
            }
        }
    }
</style>
