<script>
    export default {
        props: {
            currentTask: Object
        },
        computed: {
            getCurrentRoute() {
                return this.$route.name
            },
            editMod() {
                return this.getCurrentRoute == 'Task'
            }
        }
    }
</script>

<template>
    <div class="task" :class="{'edit-mod': editMod}">
        <div class="task__actions">
            <span class="task__actions__state">
                <input :id="`task-checkb-${currentTask.id }`" :name="`task-checkb-${currentTask.id }`" type="checkbox" class="task__actions__state__input" v-model="currentTask.completed"/>
                <label :for="`task-checkb-${currentTask.id }`" class="task__actions__state__label">
                    <font-awesome-icon :icon="['fas', 'square']" v-if="!currentTask.completed" />
                    <font-awesome-icon :icon="['fas', 'square-check']" v-if="currentTask.completed" />
                    <span class="task__actions__state__label__text">
                        Toggle task state
                    </span>
                </label>
            </span>
            <router-link :to="`/task/${currentTask.id }`" title="Edit task" class="task__actions__edit" v-if="!editMod">
                <font-awesome-icon :icon="['fas', 'edit']" />
            </router-link>
        </div>
        <input type="text" v-if="editMod" class="task__title" placeholder="Add a to do title" v-model="currentTask.title" />
        <div v-else class="task__title">
            {{ currentTask.title }}
        </div>
        <textarea v-if="editMod" class="task__description" placeholder="Add a to do description" v-model="currentTask.description"/>
    </div>
</template>

<style lang="scss">
    @import '@/assets/style/mixins.scss';

    .task {
        display: flex;
        flex-direction: column;
        color: #222;
        background: mix(white, MediumSpringGreen, 80%);
        transition: all .2s ease-in-out;
        margin: 0;
        margin-top: 16px;
        padding: 16px;
        padding-inline-start: 64px;
        width: 100%;
        min-height: 100px;

        &__title {
            @include focus-reset;

            display: block;
            font-size: 20px;
            line-height: 1;
            padding-bottom: 2px;
            border: none;
            background: none;
        }

        &__description {
            @include focus-reset;

            display: block;
            font-size: 16px;
            line-height: 1;
            margin-top: 8px;
            border: none;
            background: none;
        }

        &__actions {
            @include inset-inline-start(0);

            position: absolute;
            top: 0;
            width: 48px;
            height: 100%;
            background: MediumSpringGreen;
            color: white;

            &__state {
                width: 48px;

                &__input {
                    @include sr-only;
                }

                &__label {
                    display: block;
                    padding: 16px;
                    font-size: 16px;
                    line-height: 1;
                    cursor: pointer;

                    &__text {
                        @include sr-only;
                    }
                }
            }

            &__edit {
                display: block;
                padding: 16px;
                font-size: 16px;
                line-height: 1;
                cursor: pointer;
                color: white;
            }
        }

        &.edit-mod & {
            &__title,
            &__description {
                @include focus-input();

                height: 40px;
                font-size: 16px;
                border: 1px solid #ccc;
                background: white;
                border-radius: 0;
                -webkit-appearance: none;
                padding: 8px 16px;

                &::placeholder {
                    color: rgba(#222, .5);
                }
            }
        }
    }
</style>