<script>
    import { mapGetters } from 'vuex'

    export default {
        data () {
            return {
                newItem: {
                    newTodoName: '',
                    newTodoDescription: ''
                }
            }
        },
        computed: {
            ...mapGetters([
                'todoList'
            ]),
            getCurrentRoute() {
                return this.$route.name
            }
        },
        methods: {
            newTask () {
                this.todoList.unshift({
                    id: this.todoList.length,
                    title: this.newItem.newTodoName,
                    description: this.newItem.newTodoDescription,
                    completed: false
                })
                this.newItem.newTodoName = ''
                this.newItem.newTodoDescription = ''
            }
        }
    }
</script>

<template>
    <main>
        <div class="main">
            <div class="main__header">
                <h1 class="main__header__title">
                    To do List
                </h1>

                <Transition name="menu">
                    <div v-if="this.getCurrentRoute == 'Task'" class="main__header__actions">
                        <router-link to="/" title="Back to todolist" class="main__header__actions__back">
                            <font-awesome-icon :icon="['fas', 'arrow-left']" class="main__header__actions__back__icon"/>
                            <span>Back</span>
                        </router-link>
                    </div>
                    <form v-else class="main__header__form" @submit.prevent="newTask">
                        <input type="text" class="main__header__form__title" placeholder="Add a to do title" v-model="newItem.newTodoName" required/>
                        <input type="text" class="main__header__form__description" placeholder="Add a to do description" v-model="newItem.newTodoDescription"/>
                        <button type="submit" class="main__header__form__submit">Add a task</button>
                    </form>
                </Transition>
            </div>

            <div class="main__content">
                <router-view v-slot="{ Component }">
                    <Transition name="page" mode="out-in">
                        <component :is="Component" />
                    </Transition>
                </router-view>
            </div>
        </div>
    </main>
</template>

<style lang="scss">
    @import './assets/style/base.scss';
    @import '@/assets/style/mixins.scss';
    @import '@/assets/style/transitions.scss';

    .main {
        &__header {
            background: white;
            padding: 16px;
            width: 100%;
            box-shadow: 0 4px 12px 1px rgba(black, .3);
            z-index: 1;
            
            &__title {
                font-size: 20px;
                color: #222;
                margin-bottom: 16px;
                font-weight: bold;
            }

            &__actions {
                display: flex;

                &__back {
                    @include focus-button();

                    display: flex;
                    align-items: center;
                    height: 40px;
                    background: MediumSpringGreen;
                    border: 2px solid MediumSpringGreen;
                    border-radius: 0;
                    -webkit-appearance: none;
                    padding: 8px 16px;
                    cursor: pointer;
                    color: white;
                    font-weight: bold;
                    text-decoration: none;

                    &__icon {
                        margin-inline-end: 8px;
                    }
                }
            }

            &__form {
                display: flex;

                @media screen and (max-width: 600px) {
                    flex-direction: column;
                }

                &__title,
                &__description {
                    @include focus-input();

                    height: 40px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 0;
                    -webkit-appearance: none;
                    padding: 8px 16px;

                    &::placeholder {
                        color: rgba(#222, .5);
                    }
                }

                &__submit {
                    @include focus-button();

                    height: 40px;
                    background: MediumSpringGreen;
                    border: 2px solid MediumSpringGreen;
                    border-radius: 0;
                    -webkit-appearance: none;
                    padding: 8px 16px;
                    cursor: pointer;
                    color: white;
                    font-weight: bold;
                }

                &__description,
                &__submit {
                    margin-inline-start: -1px;

                    @media screen and (max-width: 600px) {
                        margin-inline-start: 0;
                        margin-top: 8px;
                    }
                }
            }
        }

        &__content {
            background: white;
            padding: 16px;
            width: 100%;
        }
    }
</style>